* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

picture {
  max-width: 100%;
  display: block;
}

input {
  font: inherit;
}

button {
  font: inherit;
}

textarea {
  font: inherit;
}

select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 16px;
}

body, h1, h2, h3, h3, h5 {
  font-family: "Roboto", Times, serif;
}

.huge_title {
  font-family: "Shrikhand", Times, serif;
}

.logo_footer {
  font-family: "Shrikhand", Times, serif;
  color: #fff;
  font-weight: 400;
}

main {
  position: relative;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}
@keyframes spiner {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: 0;
  }
}
@keyframes expand {
  0% {
    transform: scale(2);
  }
  25% {
    transform: scale(4);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes pulse {
  from {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 0%;
  }
  to {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
  }
}
.grad_button {
  box-shadow: 0 0 20px #cecece;
  border-radius: 50px;
  height: 50px;
  width: 230px;
  background-image: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 90%, #FF79DA 100%);
  color: #fff;
  font-weight: 500;
  border: 0;
}
.grad_button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1), 2px 6px 19px 6px #cecece;
  cursor: pointer;
}

.fa-heart:hover {
  cursor: pointer;
  font-weight: bold;
  animation: pulse 1s forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%, #FF79DA 100%);
  background-size: 100% 0%;
  background-position: bottom;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
header img {
  height: 30px;
}
header .fas {
  position: absolute;
  left: 30px;
  top: 25px;
  transform: scale(1.5, 1.5);
  color: black;
}
header a {
  color: black;
}
header a:visited {
  color: black;
}

footer {
  background: #383838;
  color: #fff;
  padding: 40px;
}
footer li {
  padding: 5px;
  position: relative;
}
footer li i {
  margin-right: 5px;
}
footer li .fa-utensils {
  margin-right: 11px;
}

.localisation {
  width: 100%;
  background: #F6F6F6;
  text-align: center;
  padding: 0 0 50px 0;
}
.localisation .search {
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 50px;
  background: #EAEAEA;
  padding-top: 15px;
}
.localisation .search input {
  background: #EAEAEA;
  border: 0;
  text-align: center;
  width: 140px;
}
.localisation .search ::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}
.localisation .search_desc {
  padding: 30px 30px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.localisation .search_desc p {
  margin-bottom: 30px;
}

.operation {
  margin: 50px 20px 50px 20px;
}
.operation ol {
  counter-reset: section;
  list-style-type: decimal;
}
.operation ol li {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  height: 70px;
  background: #f8f8f8b2;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 0px 15px 1px #cecece;
}
.operation ol li span {
  position: absolute;
  left: -10px;
  color: #fff;
  background: #9356DC;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}
.operation ol li i {
  margin-left: 40px;
  margin-right: 30px;
  color: #555555;
}
.operation ol li::before {
  counter-increment: section;
  content: counter(section);
  text-align: center;
  position: absolute;
  left: -10px;
  color: #fff;
  background: #9356DC;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}
.operation ol .third_op {
  background: #F5EDFF;
}
.operation ol .third_op i {
  color: #9356DC;
}
@media (min-width: 890px) {
  .operation ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 30px;
  }
}

.restaurant {
  background: #F6F6F6;
  padding: 70px 10px 50px 10px;
}
.restaurant h2 {
  margin-left: 20px;
}
.restaurant a:link {
  color: black;
}
.restaurant article {
  position: relative;
}
.restaurant article i {
  position: absolute;
  right: 50px;
  top: 230px;
  width: 30px;
  transform: scale(2, 2);
}
@media (min-width: 460px) {
  .restaurant article i {
    top: 270px;
    right: 20px;
  }
}
@media (min-width: 890px) {
  .restaurant article i {
    right: 30px;
    top: 275px;
  }
}
@media (min-width: 460px) {
  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1.9fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas: "title_menu title_menu" "menu_c menu_b" "menu_a menu_d";
  }
  .restaurant .title_menu {
    grid-area: title_menu;
  }
  .restaurant .menu_a {
    grid-area: menu_a;
  }
  .restaurant .menu_b {
    grid-area: menu_b;
  }
  .restaurant .menu_c {
    grid-area: menu_c;
  }
  .restaurant .menu_d {
    grid-area: menu_d;
  }
}
@media (min-width: 890px) {
  .restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas: "title_menu title_menu title_menu title_menu" "menu_c menu_b menu_a menu_d";
  }
  .restaurant .title_menu {
    grid-area: title_menu;
  }
  .restaurant .menu_a {
    grid-area: menu_a;
  }
  .restaurant .menu_b {
    grid-area: menu_b;
  }
  .restaurant .menu_c {
    grid-area: menu_c;
  }
  .restaurant .menu_d {
    grid-area: menu_d;
  }
}

.art_box {
  background: #fff;
  border-radius: 25px;
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 15px 1px #cecece;
}
.art_box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.new {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #99E2D0;
  width: 90px;
  font-weight: bold;
  font-size: 18px;
  color: #2ba196;
  text-align: center;
  border-radius: 3px;
}

.restaurant_content {
  padding: 20px;
  position: relative;
}
.restaurant_content i {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  transform: scale(2, 2);
}

a:visited {
  color: black;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  animation: spiner 3s;
  animation-fill-mode: forwards;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 30px;
  width: 10px;
  height: 70px;
}

.line:nth-child(1) {
  background: #9356DC;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #FF79DA;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #99E2D0;
}

.background_image {
  z-index: 0;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#menu {
  margin-top: -80px;
  position: relative;
  z-index: 1;
  background: #F6F6F6;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  #menu form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "starter main-dish dessert" "button button button";
  }
}
#menu #starter {
  grid-area: starter;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
#menu #main-dish {
  grid-area: main-dish;
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
#menu #dessert {
  grid-area: dessert;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;
}
#menu fieldset {
  border: 0;
}
#menu h2 {
  margin-left: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
  font-weight: 300;
}
#menu .heart {
  position: absolute;
  right: 50px;
  top: 35px;
}
#menu .far {
  transform: scale(2, 2);
  color: black;
}
#menu legend {
  margin-left: 4px;
  position: relative;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
#menu legend:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 70%;
  border-bottom: 3px solid #99E2D0;
}
#menu button {
  grid-area: button;
  max-width: 50%;
  margin-top: 50px;
  margin-bottom: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#menu .box_menu {
  position: relative;
  margin: 20px 0 0 0;
  height: 60px;
  background: #fff;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0px 0px 15px 1px #cecece;
}
#menu .box_menu label {
  display: grid;
  height: 100%;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "title price" "desc price";
}
#menu .box_menu label .title {
  grid-area: title;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu .box_menu label .desc {
  grid-area: desc;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu .box_menu label .price {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 20px;
  font-weight: bold;
  transition: all 0.69s linear;
}
#menu .box_menu label .check {
  height: 100%;
  width: 0px;
  margin-left: 10px;
  background: #99E2D0;
  visibility: hidden;
  transition: width 1s;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .box_menu label .check .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #99E2D0;
}
#menu .box_menu input[type=checkbox] {
  display: none;
}
#menu .box_menu input[type=checkbox]:checked + label .price {
  right: 75px;
}
#menu .box_menu input[type=checkbox]:checked + label .check {
  visibility: visible;
  width: 70px;
}
#menu .box_menu input[type=checkbox]:checked + label .check .fa-check {
  animation: spin 0.6s linear forwards;
}

/*# sourceMappingURL=style.css.map */
