// localisation section
.localisation {
	width: 100%;
	background: #F6F6F6;
	text-align: center;
	padding: 0 0 50px 0;

	.search{
		box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
		width: 100%;
		height: 50px;
		background: #EAEAEA;
		padding-top: 15px;

		input{
			background: #EAEAEA;
			border: 0;
			
			text-align: center;
			width: 140px;
			

		}
		::-webkit-input-placeholder {
			font-weight: bold;
			color: $color-black;
		}


	}

	.search_desc{
		padding: 30px 30px 0 35px;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 15px;

		p{
			margin-bottom: 30px;
		}
	}
}

// operation section
.operation {
	margin: 50px 20px 50px 20px;

	ol {
		counter-reset: section;
		list-style-type:decimal;
		
		li {
			position: relative;
			display: flex;
			margin-bottom: 30px;

			align-items: center;
			height: 70px;
			background: #f8f8f8b2;
			border-radius: 15px;
			font-size: 16px;
			font-weight: bold;
			box-shadow: 0px 0px 15px 1px $color-shadow;
			
			span {
				position: absolute;
				left: -10px;
				color: $color-white; 
				background: $color-primary;
				width: 25px;
				height: 25px;
				text-align: center;
				border-radius: 50%;
			}
			
			i {
				margin-left: 40px;
				margin-right: 30px;
				color: $color-hard_grey;
			}
		}

		li::before {
			counter-increment: section;
			content: counter(section);
			text-align: center;
			position: absolute;
			left: -10px;
			color: $color-white; 
			background: $color-primary;
			width: 25px;
			height: 25px;
			text-align: center;
			border-radius: 50%;
		}

		.third_op {
			background: #F5EDFF;
			
			i {
				color: $color-primary;
			}
		}

		@media (min-width: 890px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 0px 30px;
		}
	}
}

// restaurants section
.restaurant {
	background: $color-light_grey;
	padding: 70px 10px 50px 10px;
	h2 {
		margin-left: 20px;
	}
	a {
		&:link {
			color: $color-black;
		}
	}

	article{
		position: relative;
		i {
			position: absolute;
			right: 50px;
			top: 230px;
			width: 30px;
			transform: scale(2,2);
			@media (min-width: 460px) {
				top: 270px;
				right: 20px;
			}

			@media (min-width: 890px) {
				right: 30px;
				top: 275px;
			}
		}
	}

	@media (min-width: 460px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.1fr 1.9fr 1.9fr;
		gap: 0px 0px;
		grid-template-areas:
			"title_menu title_menu"
			"menu_c menu_b"
			"menu_a menu_d";
	
		.title_menu{grid-area: title_menu;}
		.menu_a{grid-area: menu_a;}
		.menu_b{grid-area: menu_b;}
		.menu_c{grid-area: menu_c;}
		.menu_d{grid-area: menu_d;}
	}

	@media (min-width: 890px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 0.1fr 1.9fr;
		gap: 0px 0px;
		grid-template-areas:
			"title_menu title_menu title_menu title_menu"
			"menu_c menu_b menu_a menu_d";
	
		.title_menu{grid-area: title_menu;}
		.menu_a{grid-area: menu_a;}
		.menu_b{grid-area: menu_b;}
		.menu_c{grid-area: menu_c;}
		.menu_d{grid-area: menu_d;}
	}

}

.art_box {
	background: $color-white;
	border-radius: 25px;
	margin: 20px 20px 0px 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 0px 0px 15px 1px $color-shadow;
    
	img {
		border-radius: 25px 25px 0 0;
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
}


// "New" pill
.new {
	position: absolute;
	right: 20px;
	top: 20px;
	background: $color-tertiary;
	width: 90px;
	font-weight: bold;
	font-size: 18px;
	color: rgb(43, 161, 150);
	text-align: center;
	border-radius: 3px; 
}


.restaurant_content {
	padding: 20px;
    position: relative;
    
	i {
		position: absolute;
		right: 30px;
		top: 30px;
		width: 30px;
		transform: scale(2,2);
	}
}

a {
	&:visited {
		color: $color-black;
	}
}


// Loader section
.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: $color-white;
	animation: spiner 3s;
	animation-fill-mode: forwards;
	z-index: 5;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow: hidden;
  }
  
  .line {
	animation: expand 1s ease-in-out infinite;
	border-radius: 10px;
	display: inline-block;
	transform-origin: center center;
	margin: 0 30px;
	width: 10px;
	height: 70px;
  }
  
  .line:nth-child(1) {
	background: $color-primary;
  }
  
  .line:nth-child(2) {
	animation-delay: 180ms;
	background: $color-secondary;
  }
  
  .line:nth-child(3) {
	animation-delay: 360ms;
	background: $color-tertiary;
  }