footer {
	background: $color-footer;
	color: $color-white;
    padding: 40px;
    
	li {
		padding: 5px;
		position: relative;

		i{
			margin-right: 5px;
		}

		.fa-utensils{
			margin-right: 11px;
		}
	}
} 


