.grad_button {
    box-shadow: 0 0 20px $color-shadow;
    border-radius: 50px;
    height: 50px;
    width: 230px;
    background-image: linear-gradient(
        to bottom right,
        $color-secondary 0%,
        $color-primary 90%,
        $color-secondary 100%
    );
    color: $color-white;
    font-weight: 500;
    border: 0;

    &:hover {
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1),
            2px 6px 19px 6px $color-shadow;
        cursor: pointer;
    }
}

.fa-heart {
    &:hover {
        cursor: pointer;
        font-weight: bold;
        animation: pulse 1s forwards;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background: linear-gradient(
            to top,
            $color-secondary 0%,
            $color-primary 100%,
            $color-secondary 100%
        );
        background-size: 100% 0%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}
