@keyframes spiner {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        z-index: 0;
    }
}

@keyframes expand {
    0% {
        transform: scale(2);
    }
    25% {
        transform: scale(4);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes pulse {
    from {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 0%;
    }
    to {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 100%;
    }
}
